noderedflows/predictionflow.json
[{"id":"779a4b28.82388c","type":"debug","z":"62e241d8.ad27d8","name":"OSP Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":180,"wires":[]},{"id":"877f28e5.353c4","type":"function","z":"62e241d8.ad27d8","name":"Set Content-Type","func":"msg.payload = {audio_file : msg.payload};\nmsg.headers={'content-type': 'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["31f93c8c.254424"]]},{"id":"142de5be.83771a","type":"inject","z":"62e241d8.ad27d8","name":"Hard Coded Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["22b1f104.46136e"]]},{"id":"22b1f104.46136e","type":"function","z":"62e241d8.ad27d8","name":"Build Payload Values - Cat","func":"msg.payload = {\n    \"fields\" : [\n\"COLUMN2\",\"COLUMN3\",\"COLUMN4\",\"COLUMN5\",\"COLUMN6\",\"COLUMN7\",\"COLUMN8\",\"COLUMN9\",\"COLUMN10\",\"COLUMN11\",\"COLUMN12\",\"COLUMN13\",\"COLUMN14\",\"COLUMN15\",\"COLUMN16\",\"COLUMN17\",\"COLUMN18\",\"COLUMN19\",\"COLUMN20\",\"COLUMN21\",\"COLUMN22\",\"COLUMN23\",\"COLUMN24\",\"COLUMN25\",\"COLUMN26\",\"COLUMN27\",\"COLUMN28\",\"COLUMN29\",\"COLUMN30\",\"COLUMN31\",\"COLUMN32\",\"COLUMN33\",\"COLUMN34\",\"COLUMN35\",\"COLUMN36\",\"COLUMN37\",\"COLUMN38\",\"COLUMN39\",\"COLUMN40\",\"COLUMN41\"        ],\n    \"values\" : [\n        [\n800.2628120893561,782.5838176051852,3.6136662286465175,682.2098112786832,821.2877792378449,650.1782509196739,799.934296977661,596.7477836768859,823.587385019711,590.6435772132003,1.6425755584756898,564.8662105462065,801.9053876478318,560.3254923147617,799.6057818659658,527.2720927772339,814.7174770039421,460.21063101128664,800.5913272010513,436.7788248504866,5.5847568988173455,428.0834923230914,822.6018396846255,420.8339436606365,809.46123521682,418.68043981887513,817.6741130091984,415.0001568972968,812.0893561103811,414.1835936258434,824.5729303547963,381.71542821436867,5.256241787122208,326.1407808439269,816.688567674113,322.7699765885883,793.035479632063,317.8860254964319,828.8436268068331,305.33833361544913,\n            \n        ]\n    ] \n};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["4ae3f745.2e9a28"]]},{"id":"9351e8da.6922b","type":"function","z":"62e241d8.ad27d8","name":"Just the results","func":"msg.result = msg.payload.values[0].splice(41);\nmsg.resultColumns = msg.payload.fields.splice(41);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["4f303be5.6b45ac","3eeae3c9.76840c"]]},{"id":"4f303be5.6b45ac","type":"debug","z":"62e241d8.ad27d8","name":"Prediction","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":590,"y":340,"wires":[]},{"id":"57292f64.7b0e4","type":"function","z":"62e241d8.ad27d8","name":"Setup for Prediction","func":"//var newmsg = {};\nif (msg.payload && msg.payload.results) {\n    msg.payload = msg.payload.results;\n}\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":223,"wires":[["4ae3f745.2e9a28"]]},{"id":"3eeae3c9.76840c","type":"debug","z":"62e241d8.ad27d8","name":"Prediction Columns","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"resultColumns","x":620,"y":380,"wires":[]},{"id":"4ae3f745.2e9a28","type":"wml","z":"62e241d8.ad27d8","name":"Run Prediction","connection":"6bce11a0.5a2f68","wml-mode":"runPrediction","model":"1a82e035-2daf-4cc9-85d5-d0af48be292b","deployment":"bb9665b8-49fc-45c6-acb9-d7b092f8e71d","modelhidden":"1a82e035-2daf-4cc9-85d5-d0af48be292b","deploymenthidden":"","x":550,"y":254,"wires":[["9351e8da.6922b"]]},{"id":"1653007e.953bc8","type":"fileinject","z":"62e241d8.ad27d8","name":"","x":130,"y":180,"wires":[["9b340316.1e962"]]},{"id":"6e10e3c9.4a5c04","type":"microphone","z":"62e241d8.ad27d8","name":"","x":140,"y":140,"wires":[["9b340316.1e962"]]},{"id":"9b340316.1e962","type":"base64","z":"62e241d8.ad27d8","name":"","action":"str","property":"payload","x":310,"y":140,"wires":[["877f28e5.353c4"]]},{"id":"d707b0c6.c16a4","type":"inject","z":"62e241d8.ad27d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["91118324.3b0a8"]]},{"id":"91118324.3b0a8","type":"function","z":"62e241d8.ad27d8","name":"Build Payload Values - Dog","func":"msg.payload = {\n    \"fields\" : [\n\"COLUMN2\",\"COLUMN3\",\"COLUMN4\",\"COLUMN5\",\"COLUMN6\",\"COLUMN7\",\"COLUMN8\",\"COLUMN9\",\"COLUMN10\",\"COLUMN11\",\"COLUMN12\",\"COLUMN13\",\"COLUMN14\",\"COLUMN15\",\"COLUMN16\",\"COLUMN17\",\"COLUMN18\",\"COLUMN19\",\"COLUMN20\",\"COLUMN21\",\"COLUMN22\",\"COLUMN23\",\"COLUMN24\",\"COLUMN25\",\"COLUMN26\",\"COLUMN27\",\"COLUMN28\",\"COLUMN29\",\"COLUMN30\",\"COLUMN31\",\"COLUMN32\",\"COLUMN33\",\"COLUMN34\",\"COLUMN35\",\"COLUMN36\",\"COLUMN37\",\"COLUMN38\",\"COLUMN39\",\"COLUMN40\",\"COLUMN41\"     \n        ],\n    \"values\" : [\n        [\n515.4501188470681,497.42052246152446,509.91161470472855,423.8779531850004,518.0347541134932,415.05481312613557,519.5116885514504,389.96782741934715,508.8039138762606,374.37827346774236,259.57122747098055,344.3327086495424,256.98659220455545,329.72770556387457,510.65008192370715,329.69387734611803,513.9731844091109,305.54514808682717,516.5578196755359,304.80500102568027,521.3578565988969,270.50690439952496,519.1424549419611,254.77697221218105,257.72505942353405,251.8430576142323,512.4962499711537,248.40954041674354,499.9423072485173,239.93688068673902,258.46352664251265,225.62783540131167,549.419610920084,221.59939224155258,502.52694251494245,217.8714078603479,523.942491865322,216.88336349446857,501.05000807698525,201.78412677590913,\n\n        ]\n    ] \n};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["4ae3f745.2e9a28"]]},{"id":"31f93c8c.254424","type":"http request","z":"62e241d8.ad27d8","name":"Perfrom OSP","method":"POST","ret":"obj","url":"https://animal-sounds.mybluemix.net/audio/nodered","tls":"","x":530,"y":180,"wires":[["779a4b28.82388c","57292f64.7b0e4"]]},{"id":"6bce11a0.5a2f68","type":"wml-config","z":"","host":"https://us-south.ml.cloud.ibm.com","accesskey":"","instanceid":"","name":"WML Cats and Dogs"}]
